<!DOCTYPE html>
<html>
<head>
    <title>Pizzas Teker!</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <style>
    
        @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
        @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
        /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
    </style>

    <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    
    <script src="../cordova.js" id="xdkJScordova_"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../js/app.js"></script>           <!-- for your event code, see README and file comments for details -->
    <script src="../js/init-app.js"></script>      <!-- for your init code, see README and file comments for details -->
    <script src="../xdk/init-dev.js"></script>     <!-- normalizes device and document ready events, see file for details -->
</head>


<body>
                <form>
                   <h1>Criar Conta</h1>
                    <input type="text" placeholder="Nome" id="nome" name="nome" />
                    <input type="text" placeholder="Email" id="email" name="email" />
                    <input type="password" placeholder="Senha" id="senha" name="senha" />
                    <input type="password" placeholder="Confirmar Senha" id="confSenha" name="confSenha" />
                    <input type="text" placeholder="Localização" id="localizacao" name="localizacao" />
                       <button id="criarConta">Criar Conta</button>
                </form>
   
</body>
</html>
